{% extends 'base.html' %}

{% block content %}
    <div id="center">
        <h2 class="title">Szczegóły produku</h2><br />
        <div>
            {% if not object.image %}
                <p>Brak zdjęcia</p>
            {% else %}
                <p><img src="{{ object.image.url }}"></p>
            {% endif %}

            <p>Nazwa: {{ object.name }}</p>
            <p>Producent: {{ object.manufacturer }}</p>
            <p>Cena: {{ object.price }}</p>
            <p>Opis: {{ object.description }}</p>

            {% if request.user.is_authenticated %}
                <a href="{% url 'edit-product' pk=object.pk %}"><input type="button" value="Edytuj" /></a>
                <a href="{% url 'delete-product' pk=object.pk %}"><input type="button" value="Usuń" /></a>
            {% endif %}

        </div>
    </div>
{% endblock %}
