{% extends 'base.html' %}

{% block content %}
    <div id="center">
        <h2 class="title">Strona użytkownika</h2><br />
        <div>
            {% if not object.profile_image %}
                <p> Nazwa użytkownika: {{ object.username }}</p>
                <p>Zdjęcie profilowe: Brak zdjęcia </p>
            {% else %}
                <p>Zdjęcie profilowe: <img id="profile" src="{{ object.profile_image.url }}">
                    Nazwa użytkownika: {{ object.username }}</p>
            {% endif %}

            {% if object.type == 0 %}
                <p>Typ użytkownika: Sprzedawca</p>
            {% else %}
                <p>Typ użytkownika: Klient</p>
            {% endif %}

            <p>Data utworzenia konta: {{ object.registration_date }}</p>

            <p>
                <a href="{% url 'edit-user' pk=object.pk %}"><input type="button" value="Edytuj profil" /></a>
                <a href="{% url 'delete-user' pk=object.pk %}"><input type="button" value="Usuń konto" /></a>
            <p/>

        </div>
    </div>
{% endblock %}
