{% extends 'base.html' %}

{% block content %}
  <div>
    {% if not object.profile_image %}
        <p> {{ object.username }}</p>
        <p>Brak zdjęcia profilowego</p>
    {% else %}
        <p><img id="profile" src="{{ object.profile_image.url }}"> {{ object.username }}</p>
    {% endif %}

    Typ użytkownika: {{ object.type }} {{ object.get_user_type_display }} <br />
    Data utworzenia konta: {{ object.registration_date }}<br />

    <p>
      <a href="{% url 'edit-user' pk=object.pk %}"><input type="button" value="Edytuj profil" /></a>
      <a href="{% url 'delete-user' pk=object.pk %}"><input type="button" value="Usuń konto" /></a>
    <p/>

  </div>
{% endblock %}
